Package: com.opa334.downloadally
Name: Downloadally
Depends: mobilesubstrate
Version: 2.2
Architecture: iphoneos-arm
Description: Adds a download button to musically!
Maintainer: opa334
Author: opa334
Section: Tweaks
